In [2]:
import pandas as pd

df = pd.read_csv("../data/raw.csv")

features = [
    "tenure",
    "MonthlyCharges",
    "Contract",
    "InternetService",
    "PaymentMethod",
    "SeniorCitizen",
    "Churn"
]

df = df[features]
df.head()

,tenure,MonthlyCharges,Contract,InternetService,PaymentMethod,SeniorCitizen,Churn
0,1,29.85,Month-to-month,DSL,Electronic check,0,No
1,34,56.95,One year,DSL,Mailed check,0,No
2,2,53.85,Month-to-month,DSL,Mailed check,0,Yes
3,45,42.30,One year,DSL,Bank transfer (automatic),0,No
4,2,70.70,Month-to-month,Fiber optic,Electronic check,0,Yes

In [3]:
df['Churn'] = df["Churn"].map({"Yes": 1, "No": 0})

In [4]:
contract_map = {
    "Month-to-month": 0,
    "One year": 1,
    "Two year": 2
}

df["Contract"] = df["Contract"].map(contract_map)

In [5]:
df = pd.get_dummies(df, columns=["InternetService", "PaymentMethod"], drop_first=True)

In [7]:
df.head()
df.info()
df.to_csv("../data/cleaned.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   tenure                                 7043 non-null   int64
 1   MonthlyCharges                         7043 non-null   float64
 2   Contract                               7043 non-null   int64
 3   SeniorCitizen                          7043 non-null   int64
 4   Churn                                  7043 non-null   int64
 5   InternetService_Fiber optic            7043 non-null   bool
 6   InternetService_No                     7043 non-null   bool
 7   PaymentMethod_Credit card (automatic)  7043 non-null   bool
 8   PaymentMethod_Electronic check         7043 non-null   bool
 9   PaymentMethod_Mailed check             7043 non-null   bool
dtypes: bool(5), float64(1), int64(4)
memory usage: 309.6 KB